:root{
    --h4tag1440:27px;
}
@media screen and (max-width:1440px) {
    header h1 a{
        font-size: 38px;
    }
    nav ul li{
        font-size: 18px;
    }
    .section-inner h2{
        font-size: 60px;
    }
    .section2-inner-imgwrapper{
        width: 450px;height: 500px;
    }
    .section2-inner-imgwrapper > p{
        width: 300px;height: 300px;
    }
    .inner-wrap-text{
        width: calc((100% - 450px) - 5px);
    }
    .introduce{width: 100%;}
    .introduce p{
        font-size: 17px;
    }
    #section2 svg{font-size: 85px;}

    .box-box{width: 220px;padding: 10px;}
    .box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
    .certificate{margin-top: 10px;}
    .certificate li{font-size: 14px;height: 35px;}

    .inner-wrap-text .myInformation .skill{
        width: calc((80px * 3) + 15px);
        padding: 10px;
        margin-left:  5%;
    }
    .skill ul{
        display: flex;
        flex-flow: wrap;
    }
    .myInformation .skill ul li{
    width: 80px;height: 80px;
    margin-left: 5px;
    }

    .swiper.mySlider{height: 60vh;}
    .swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
    .swiper.mySlider .swiper-slide .imgover{
    font-size: 22px;
    }
    .swiper.mySlider .swiper-slide .imgover .imgover_button{
    font-size: 17px;
    }

    .num-box .copyMail{font-size: 80px;}
    .text_box .num-box>span{
        font-size: 15px;
        right:30px;
    }
    .text_box .num-box>span::before{
        width: 17px;height: 17px;
        background-size: 17px;
    }
    .intro .contactIntro span,.intro .num-box-sub{
        font-size: 15px;
    }
}

@media screen and (max-width:1024px) {
   .header h1 a{
    font-size: 32px;
    line-height: 55px;
    }
    .header nav ul li{
    font-size: 17px;
}
    .bg .section-inner h2{
    font-size: 55px;
}
.section-inner{width: 95%;}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;margin-top: 10%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}






   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
   header h1 a{
    font-size: 38px;
}
nav ul li{
    font-size: 18px;
}
.section-inner h2{
    font-size: 60px;
}
.section2-inner-imgwrapper{
    width: 450px;height: 500px;
}
.section2-inner-imgwrapper > p{
    width: 300px;height: 300px;
}
.inner-wrap-text{
    width: calc((100% - 450px) - 5px);
}
.introduce{width: 100%;}
.introduce p{
    font-size: 17px;
}
#section2 svg{font-size: 85px;}
.box-box{width: 220px;padding: 10px;}
.box-box h4,.skill h4,.inner-wrap .text_box h4,.swiper.mySlider h2{font-size: var(--h4tag1440);}
.certificate{margin-top: 10px;}
.certificate li{font-size: 14px;height: 35px;}
.inner-wrap-text .myInformation .skill{
    width: calc((80px * 3) + 15px);
    padding: 10px;
    margin-left:  5%;
}
.skill ul{
    display: flex;
    flex-flow: wrap;
}
.myInformation .skill ul li{
width: 80px;height: 80px;
margin-left: 5px;
}
.swiper.mySlider{height: 60vh;}
.swiper.mySlider .swiper-wrapper{height: calc(60vh - 100px);}
.swiper.mySlider .swiper-slide .imgover{
font-size: 22px;
}
.swiper.mySlider .swiper-slide .imgover .imgover_button{
font-size: 17px;
}
.num-box .copyMail{font-size: 80px;}
.text_box .num-box>span{
    font-size: 15px;
    right:30px;
}
.text_box .num-box>span::before{
    width: 17px;height: 17px;
    background-size: 17px;
}
.intro .contactIntro span,.intro .num-box-sub{
    font-size: 15px;
}
}