.swiper.mySlider{
  width: 70%;
  height:70vh;
  padding: 0 50px;
  position: relative;
  top:50%;left:0;
  transform: translateY(-50%);
}
.swiper-wrapper{
  display: none;
  height: calc(70vh - 100px);
  position: relative;
  top:35px;left:0;
}
.swiper-wrapper.on{
  display: flex;
}
.swiper-slide{
  opacity: 0;
  width: 100%;height: 100%;
  position: relative;
  top:0;left:0;
  z-index: 9999;
  border: 1px solid rgba(194, 194, 194, 0.75);
  transition: all 2s;
}
.swiper-slide.active{
  opacity: 1;
}
.slide_img{
  width: 100%;
  height: 100%;
  overflow-y:scroll;
}
.slide_img img{
  object-fit: cover;
}
.slide_img::-webkit-scrollbar{
  display: block;
}
.slide_img::-webkit-scrollbar-thumb{

  height: 5px !important;
}

/*스와이퍼2*/
.slide_img.menu{
  width: 100%;

}
.slide_img.menu img{
  width: 100%;height: 100%;
  object-fit: cover;
  
}

/*버튼*/
  .swiper1024-next,.swiper1024-prev{
    width: 30px;height: 30px;
    background: url(../img/arrow.png) no-repeat center center / cover;
    position: absolute;
    top:50%;left:0;
    transform: rotate(180deg)
  }
  .swiper1024-next{
    left:unset;
    right:0;
    transform: rotate(0deg);
  }